/*-- background --*/
body {
  margin: 0;
  background-image: url("image/3.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 1370px 1100px;
}
/*-- background --*/


/*-- top-header --*/
.logo a {
    color: #3F84B1;
    letter-spacing: 1px;
    font-size: 3em;
    font-weight: 400;
    display: block;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
}
.logo span {
    color:#34ad00;
}
.top-header {
    background-color: #3F84B1;
    border-bottom: 0 none;
	height: 36px;
    line-height: 35px;
}
/*-- /top-header --*/

/*-- navbar --*/
#navbar {
  overflow: hidden;
  background-color: #34ad00;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #99ff99;
  color: black;
}

#navbar a.active {
  background-color: #3F84B1;
  color: white;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}
/*-- navbar --*/


/*-- BoxImage --*/
#box1 {
  padding: 15px;
  background-image: url('image/2.jpg');
  background-repeat: no-repeat;
  background-size: 1000px 7	 00px;
}
/*-- BoxImage --*/


/*-- footer --*/
.copy-right p {
    color:#fff;
    font-size:14px;
    line-height: 2em;
}
.copy-right {
    background:#34ad00;
    text-align: center;
    padding: 0em 0;
}
/*-- /footer --*/
